@charset "UTF-8";
* {
	text-decoration: none;
	outline: none;
}

a img { 
	border: none;
}
a 
{ outline: none; }

img {
		border: 0;
	}

a:hover img {
	
  filter: 0;
	}
body {
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-position: center -90px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #333;
}
/*body {
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-image: url(images/mm-bg2.png);
	background-color: #bd8e98;
	background-position: center -90px;
}

 CSS Document */


#header {
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(images/header-logo.png);
	background-repeat: no-repeat;
	height: 117px;
	padding-left: 540px;
	padding-top: 0px;
	background-position: center center;
	background-color: #F9F8F8;
}
#big-wrapper .container {
	width: auto;
	margin-right: auto;
	margin-left: auto;
	max-width: 959px;
	clear: both;
}
#header-calltoaction {
	color: #666666;
	width: 300px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 100px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 0px;
	float: right;
}
#nav img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#contentwrapper {
	background-image: url(images/theme/bodybg-2.png);
	background-repeat: repeat-y;
	margin-top: -10px;
	padding-top: 0px;
	float: left;
}
maincontent img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.howtouse {
	padding: 6px;
	border: 1px solid #9F130B;
	margin-bottom: 10px;
}
.howtouseimge  {
	border: 1px solid #ABA;
	padding: 2px;
	margin-left: 2px;
}
.test-pic  {
	margin-right: 6px;
	padding: 2px;
	border: 1px solid #1F5499;
	float: left;
}
h1 {
	font-size: 20px;
	color: #A62F1C;
	padding-bottom: 4px;
	padding-top: 0px;
	font-weight: bold;
	line-height: 22px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}

#footer {
	background-repeat: no-repeat;
	background-position: bottom;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	color: #000000;
	text-align: center;
	height: 35px;
	padding-top: 23px;
}
#footer-noside {
	background-image: url(images/footer-noside.png);
	background-repeat: no-repeat;
	background-position: bottom;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	color: #708B70;
	text-align: center;
}
#sidebar {
	float: right;
	width: 195px;
	margin-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 10px;
	margin-left: 20px;
}
#sidebar-sub {
	padding: 10px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#sidebar-sub {
	-moz-border-radius: 6px;
	border-radius: 6px;
	width: 30%;
	float: left;
}
#side-story {
	padding-left: 10px;
	padding-top: 10px;
}
#main {
	width: 60%;
	margin-left: 5px;
	margin-right: 3px;
	padding: 10px;
	margin-bottom: 0px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #333333;
	float: left;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
#main-noside {
	width: 835px;
	padding-left: 20px;
	margin-top: 0px;
	padding-top: 15px;
	padding-right: 15px;
}
p {
	margin: 0px;
	padding-bottom: 10px;
	padding-top: 0px;
}

h2 {
	font-size: 16px;
	color: #49403F;
	padding-bottom: 3px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 3px;
	background-color: #F9F8F8;
	padding-right: 4px;
	padding-left: 4px;
	line-height: 20px;
	border: 1px solid #9F130B;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-weight: normal;
}
.contact-box {
	font-size: 14px;
	color: #49403F;
	padding-bottom: 3px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 3px;
	background-color: #F9F8F8;
	padding-right: 4px;
	padding-left: 4px;
	line-height: 18px;
	border: 1px solid #9A9494;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-weight: normal;
}
.footer-copy {
	font-size: 12px;
	color: #968F8F;
	margin: 0px;
	padding-bottom: 10px;
}
#footer p {
	margin: 0px;
}
#footer-noside p {
	margin: 0px;
}
#patent {
	width: 590px;
}
#patent-noside {
	width: 820px;
}
#photo-banner {
	width: 852px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(images/horizon-background-sidebar.png);
	background-repeat: repeat-y;
}
#main li{
	list-style-image: url(images/bullet.png);
	margin-bottom: 6px;
}

#main li ul li {
	list-style-image: url(images/circle-sm.gif);
	margin-bottom: 6px;
}
a:link {
	text-decoration: none;
	color: #9F130B;
}
a:visited {
	text-decoration: none;
	color: #9F130B;
}
a:hover {
	text-decoration: none;
	color: #BB5F51;
}
.photo-frames   {
	background-color: #FCE3B3;
	padding: 2px;
	margin-right: auto;
	border: 1px solid #ABA;
	margin-left: auto;
}
.quote {
	font-size: 12px;
	color: #708B70;
	font-style: oblique;
}
.credit {
	font-size: 11px;
	color: #666666;
	line-height: 14px;
	margin-top: 10px;
	margin-left: auto;
	width: 180px;
}
#contentwrapper #sidebar #c-info img {
	background-color: #F6F8F6;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.quote {
	font-style: italic;
	color: #708B70;
}
.side-quote {
	font-style: italic;
	color: #666666;
}
.howto-boxes {
	float: left;
	height: 225px;
	width: 520px;
	margin-right: 10px;
	font-weight: bold;
	padding-top: 8px;
}
.howto-boxes  img{
	border: 1px solid #ABA;
	padding: 2px;
	margin-left: 2px;
}
.numbers {
	font-size: 36px;
	color: #ED1C24;
}
.howto-boxes-left {
	float: left;
	height: 205px;
	width: 40px;
	margin-right: 10px;
	padding-top: 20px;
}
#contentwrapper #main blockquote {
	margin-top: 0px;
	margin-bottom: 0px;
}
#footer2 {
	background-image: url(images/footer2.png);
	background-repeat: no-repeat;
	height: 20px;
	margin-top: 10px;
	width: 832px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	font-size: 12px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 0px;
	color: #E6EBE6;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
}
#footer2 a:link {
	color: #CCC;
}
#footer2 p {
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
}
#thanks {
	background-color: #FEFEFE;
	padding: 4px;
	border: 1px solid #FDE7BA;
}
.emailFormError {
	color: #C00;
}
#supportlist {
	color: #768176;
}
#header img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#homeside {
}
#homeside img {
}
.small-header {
	font-size: 13px;
	color: #706866;
	font-weight: bold;
	text-align: center;
	margin-bottom: 15px;
}
.event-boxes {
	padding: 2px;
	border: 1px solid #708B83;
	background-color: #FEFEFE;
	margin-bottom: 6px;
}
.photo-frames-body {
	background-color: #FCE3B3;
	padding: 2px;
	border: 1px solid #ABA;
}
#sidebar-sub h3{
	padding: 4px;
	background-color: #EEEEEE;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #B2B2B2;
	border-bottom-color: #B2B2B2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	text-align: center;
}
#contentwrapper #main h3 {
	padding-top: 0px;
	margin-top: 0px;
	color: #A62F1C;
}
.event-separater {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #8B8B70;
	margin-bottom: 10px;
	margin-top: 4px;
}
.moreinfo {
	padding: 4px;
	background-color: #F9F8F8;
	border: 1px solid #49403F;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #ffffff;
}
.3dots-hr {
	font-size: 14px;
	color: #F91B18;
	text-align: center;
	line-height: 10px;
	margin-top: 6px;
}
#contentwrapper #sidebar-sub  .quote-brdr {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 20px;
	clear: both;
}
#contentwrapper #sidebar-sub ul {
	list-style-image: url(images/arrow.gif);
	padding-left: 15px;
	padding-right: 0px;
}
#contentwrapper #sidebar-sub ul li {
	margin-bottom: 8px;
}
.articles-block-1st {
	margin-bottom: 15px;
	padding-top: 5px;
}
.articles-block {
	margin-bottom: 15px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #F9F8F8;
	padding-top: 5px;
}
.article-title {
	font-size: 14px;
	font-weight: bold;
}
.logo-brder {
	padding: 3px;
	background-color: #ffffff;
	border: 1px solid #C4C4C4;
	margin-left: 8px;
}
.logo-brder-trans {
	padding: 3px;
	border: 1px solid #C4C4C4;
	margin-left: 8px;
}
#sm-float {
	background-color: #F8F7F7;
	padding: 4px;
	width: 45px;
	margin-top: 200px;
	float: left;
}
#big-wrapper {
	width: auto;
}
#big-wrapper .container #contentwrapper #main ul {
}
.dot-bg {
	background-image: url(images/circle.png);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	height: 10px;
	width: 10px;
	background-position: center center;
}
#main #email-box {
	background-color: #F2F2F2;
	border: 1px solid #F9F8F8;
	padding-top: 10px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 100px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	height: 60px;
	background-image: url(images/emailicon2.png);
	background-repeat: no-repeat;
	background-position: left center;
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 10px;
	margin-left: 4px;
}
#foot-contact {
	width: 360px;
	margin-right: auto;
	margin-left: auto;
}
.subnav ul li  {
	display: inline;
	list-style-type: none;
	list-style-image: none;
	font-size: 14px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F7F7F7;
	margin-right: 20px;
}
#subnav  ul {
    margin-left:-20px;
}
#backtotop {
	cursor : pointer;
	display : none;
	margin : 0px 0px 0px 370px;
	position : fixed;
	bottom : 10px;
	font-size : 90%;
	padding	: 10px;
	width : 100px;
	text-align : center;
	background-color : #000;
	border-radius : 8px;
	-webkit-border-radius : 8px;
	-moz-border-radius : 8px;
	filter : alpha(opacity=60);
	-khtml-opacity : 0.6;
	-moz-opacity : 0.6;
	opacity	: 0.6;
	color : #FFF;
	font-size : 14px;
	z-index	: 1000;
}
#backtotop:hover
{
	filter : alpha(opacity=90);
	-khtml-opacity : 0.9;
	-moz-opacity : 0.9;
	opacity	: 0.9;
}.audio-embed {
	margin-bottom: 10px;
	border: 1px solid rgba(178,178,178,1.00);
	border-radius: 8px;
}
.vid-rows {
	float: left;
	width: 48%;
	margin-right: 5px;
	height: 120px;
}
